/* docs/.vitepress/theme/style.css */
:root {
  --vp-layout-max-width: 1440px;
  --vp-sidebar-width: 272px;
  --vp-aside-width: 300px;
  /* --vp-nav-logo-height: 64px; */
  --vp-c-brand-1: #114f63;
  --vp-c-brand-2: #b3f6f6;
  --vp-c-brand-3: #458097;
  --vp-c-text: #0e6568;
  --vp-c-bg: #ecf1f2;
  --vp-nav-bg-color: #ecf1f2;
  --header-gradient: linear-gradient(45deg, var(--vp-c-brand-1), var(--vp-c-brand-1));
  --vp-c-default-3: #ceced8;
  --vp-code-copy-copied-text-content: '已複製';

}

.dark {
  --vp-c-brand-1: #596eac;
  --vp-c-brand-2: #259898;
  --vp-c-brand-3: #7597ff;
  --vp-c-text: #f5f5f5;
  --vp-c-bg: #202023;
  --vp-nav-bg-color: #20202390;
  --vp-c-default-3: #6c6c70;
}


.dark .logo {
  filter: invert(1);
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

footer {
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tektur', cursive;
  font-weight: 600;
}

h1 .text {
  font-weight: 400;
  color: white;
  text-shadow: 4px 2px 0 var(--vp-c-brand-1), -1px -1px 0 var(--vp-c-brand-1), 1px -1px 0 var(--vp-c-brand-1), -1px 1px 0 var(--vp-c-brand-1);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--vp-c-brand-3)
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dt {
  display: inline-flex;
  flex: 40%;
  padding: 0.5rem 0;
  border-top: 1px solid var(--vp-c-brand-3);
}

dd {
  display: inline-flex;
  flex: 50%;
  padding: 0.5rem 0;
  border-top: 1px solid var(--vp-c-brand-3);
  margin-left: 0;
}

dd:before {
  content: "--";
  padding: 0 0.5rem;
}

.VPDoc {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.VPDoc .container {
  max-width: none;
  flex: 1;
}

.VPDoc .aside {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: var(--vp-nav-height);
  padding-bottom: 2rem;
  width: var(--vp-aside-width);
}

.VPFeature {
  border: 1px solid var(--vp-c-default-3) !important;
  opacity: 0.8;
}

.shadow-soft {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.vp-doc h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.vp-doc p {
  line-height: 1.7;
}

.vp-doc pre {
  border-radius: 8px;
}

.vp-doc a {
  font-size: 0.95em;
  color: var(--vp-c-indigo-2);
  transition: color 0.2s;
  text-decoration-color: var(--vp-c-indigo-3);
  text-decoration-thickness: .125em;
  text-underline-offset: 2px;
  vertical-align: top;
}

.vp-doc a:hover {
  color: var(--vp-c-primary-light);
}

@media (max-width: 960px) {
  .VPDoc .aside {
    display: none;
  }
}

.VPNavBarMenuLink.active {
  background-color: var(--vp-c-brand-2);
}

.dark .VPNavBarMenuLink.active {
  background-color: var(--vp-c-brand-1);
  color: white;
}

ul.timeline {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 600px;
}

ul.timeline li::before {
  content: '';
  position: absolute;
  top: 13px;
  bottom: -35px;
  left: 20px;
  width: 4px;
  background: #ccc;
}

ul.timeline li:last-child:before {
  content: '';
  display: none;
}

ul.timeline li {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 50px;
}

ul.timeline li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 14px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 4px solid #4CAF50;
  border-radius: 50%;
}

ul.timeline time {
  display: block;
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 0.5rem;
}

ul.timeline h6 {
  margin: 0;
  font-size: 1rem;
  padding: 0 0 1rem;
}

@media (max-width: 600px) {
  ul.timeline {
    padding-left: 10px;
  }

  ul.timeline::before {
    left: 10px;
  }

  ul.timeline li {
    padding-left: 40px;
  }

  ul.timeline li::before {
    left: 19px;
  }
}

.page-preset .VPDoc {
  --vp-aside-width: 0;
  padding: 0;
}

.page-preset .VPDoc .content {
  padding: 0;
  margin-bottom: 60px;
}

.page-preset .VPDoc .aside,
.page-preset .VPDoc footer {
  display: none;
}

.page-preset .VPDoc .content-container {
  margin: 0;
  max-width: unset;

}

.iframe-vid {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 580px;
  height: 326px;
}

.iframe-vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .iframe-vid {
    width: 352px;
    height: 198px;
  }
}