/* docs/.vitepress/theme/style.css */
:root {
  --vp-layout-max-width: 1440px;
  --vp-sidebar-width: 272px;
  --vp-aside-width: 300px;
  --vp-c-brand-1: #935627;
  --vp-c-brand-3: #a39278;
  --vp-c-text: #4c4734;
  --vp-c-bg: #f5f0ed;
  --header-gradient: linear-gradient(45deg, var(--vp-c-brand-1), var(--vp-c-brand-1));
  /* --vp-c-brand-light: #e16dbc;
  --vp-c-brand-dark: #7c2b63; */
}

.dark {
  --vp-c-text: #f5f5f5;
  --vp-c-bg: #232220;
}

.VPDoc {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.VPDoc .container {
  max-width: none;
  flex: 1;
}

.VPDoc .aside {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: var(--vp-nav-height);
  padding-bottom: 2rem;
  width: var(--vp-aside-width);
}

@media (max-width: 960px) {
  .VPDoc .aside {
    display: none;
  }
}

.tag-list {
  margin-top: 2rem;
  padding: 0 1.5rem;
}